@keyframes slideup {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes wave {
    0%,
    100% {
        transform: translateY(-1px);
    }
    50% {
        transform: translateY(1px);
    }
}
.chip {
    cursor: pointer;
}

.chip.display {
    animation-duration: 700ms;
    animation-name: slideup;
}

.chip.focus {
    animation-name: wave;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier();
}

.commandType {
    background: #ffeeff;
    border-color: #f8bbd0;
    color: #c48b9f;
}

.paramType {
    background: #fbfffc;
    border-color: #c8e6c9;
    color: #97b498;
}

.placeholderType {
    background: white;
}
